[submodule "d7/search_api_solr"]
	path = d7/search_api_solr
	url = https://git.drupal.org/project/search_api_solr.git
        branch = 7.x-1.x
[submodule "d8/search_api_solr"]
	path = d8/search_api_solr
	url = https://git.drupal.org/project/search_api_solr.git
        branch = 8.x-1.x
